ul li {list-style-type: circle;}
ul li ul li {list-style-type: square;}
ul li ul li ul li {list-style-type: disc;}

ol li {list-style-type: upper-roman;}
ol li ol li {list-style-type: square;}
ol li ol li ol li {list-style-type: disc;}